body {
    background-color: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--text);
}

.page-title {
    font-size: 1.3rem;
    color: var(--text);
}

.page-subtitle {
    font-size: small;
    color: var(--subtitle);
}

.user-name {
    margin-top: 5px;
    font-size: small;
    color: var(--text);
}

.inativo {
    display: none;
}

.bolinha {
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-top: 0.10px;
    background-color: var(--number-color);
}
