body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main";
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
}

.header-container {
    grid-area: header;
}

.aside-menu {
    grid-area: aside;
}

.main-container {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "header-main"
        "filtros"
        "informacoes"
        "pacientes";
    grid-template-rows: auto auto auto 1fr;
}
