.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-cards);
    box-shadow: var(--box-shadow);
    padding: 10px;
}

.perfil-container {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1rem;
    padding-right: 15px;
}

.container-user {
    padding-left: 20px;
    height: 100%;
    border-left: 1px solid var(--border);
}

.notification-button,
.aside-toggle,
#aside-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    border-radius: 10px;
}

.notification-button:hover,
.aside-toggle:hover,
#aside-toggle:hover {
    background-color: var(--cards-hover);
}

.aside-icon-open,
.aside-icon-fechado,
#notificacao {
    width: 23px;
    height: 23px;
}
