.toolbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.toolbar {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 14px;
    background-color: var(--background-cards);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    height: 48px;
}

.toolbar input[type="radio"] {
    display: none;
}

.toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 100%;
    cursor: pointer;
    color: var(--text);
    transition: background-color 0.5s ease;
}

.icon {
    width: 22px;
    height: auto;
}

.toggle-btn .icon-active {
    display: none;
}

.toolbar input[type="radio"]:checked + .toggle-btn {
    background-color: var(--primary-buttom);
}

.toolbar input[type="radio"]:checked + .toggle-btn .icon-inactive {
    display: none;
}

.toolbar input[type="radio"]:checked + .toggle-btn .icon-active {
    display: block;
}
