@keyframes click {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

#btn-filtro.animar,
.animar {
    animation: click 200ms ease-out;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}
